<header>
    
</header>
    
<body class="contenido">
    
  <h1>Modificar permiso:</h1>
    <div class="selects"> 
      <mat-form-field appearance="fill">
          <mat-label>Usuario</mat-label>
          <mat-select [(value)]="selectedUser">
            <mat-option></mat-option>
            <mat-option [value]="option" *ngFor="let option of usuarios">{{ option.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <mat-label>Torre</mat-label>
          <mat-select [(value)]="selectedTorre">
            <mat-option></mat-option>
            <mat-option [value]="option" *ngFor="let option of torres">{{ option.nameTower }}</mat-option>
          </mat-select>
        </mat-form-field>
    </div> 
            
    <div class="fechas">
     
      <div class="field col-12 md:col-4">
        <label for="icon">Start date:</label>
        <br>
        <p-calendar  [showIcon]="true" inputId="icon" [(ngModel)]="modiPermiso.startDate"></p-calendar>
      </div>

      <div class="field col-12 md:col-4">
        <label for="icon">End date:</label>
        <br>
        <p-calendar  [showIcon]="true" inputId="icon" [(ngModel)]="modiPermiso.endDate"></p-calendar>
      </div>
      
    </div>

    <div>
      <form class="report">
        <mat-form-field class="report-input" appearance="fill">
        <mat-label>Tipo report</mat-label>
        <input matInput placeholder="Ej. Nomina"  name="report" [(ngModel)]="modiPermiso.typeReport">
        </mat-form-field>
      </form>

      <h4>Descripcion:</h4>
      <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="modiPermiso.description"></textarea>
    </div>

    <button mat-raised-button color="primary"  [routerLink]="['/jefe']" (click) ="modificar()">Modificar</button>
    <button mat-button color="primary" [routerLink]="['/jefe']">Atras</button>
    <button mat-raised-button color="warn" [routerLink]="['/jefe']" (click) ="eliminar()">Eliminar</button>

    

</body>
